<div class="container-navbar">
    <nav class="navbar">
      <div class="container-logo">
        <i class="fa-solid fa-computer"></i>
        <h1><a routerLink="/">ByteBuild</a></h1>
      </div>
  
      <ul class="menu">
        <li><a routerLink="/" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/comparacion" routerLinkActive="active">Comparación</a></li>
        <li><a routerLink="/tracking" routerLinkActive="active">Tracking</a></li>
        <li><a routerLink="/registro" routerLinkActive="active">Registro</a></li>
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li><a routerLink="/producto-registro" routerLinkActive="active">Registro Producto</a></li>
        <li><a routerLink="/inventario" routerLinkActive="active">Inventario</a></li>
      </ul>
  
      <div class="container-user">
        <i class="fa-solid fa-user"></i>
        <i class="fa-solid fa-basket-shopping"></i>
      </div>
    </nav>
  </div>