<div class="container-navbar">
  <nav class="navbar container">
    <i class="fa-solid fa-bars"></i>

    <ul class="menu">
      <li><a routerLink="/" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/comparacion" routerLinkActive="active">Comparación</a></li>
      <li><a routerLink="/tracking" routerLinkActive="active">Tracking</a></li>
      <li><a routerLink="/registro" routerLinkActive="active">Registro</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/producto-registro" routerLinkActive="active">Registro Producto</a></li>
      <li><a routerLink="/inventario" routerLinkActive="active">Inventario</a></li>
    </ul>

    <div class="search-form">
      <input type="search" placeholder="Buscar...">
      <button type="button" class="btn-search" aria-label="Buscar">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button> 
    </div>
  </nav>
</div>


  