<div class="container hero">
    <div class="customer-support">
      <i class="fa-solid fa-headset"></i>
      <div class="content-customer-support">
        <span class="text">Soporte al cliente</span>
        <span class="number">67448377</span>
      </div>
    </div>
  
    <div class="container-logo">
      <i class="fa-solid fa-desktop"></i>
      <h1 class="logo">
        <a routerLink="/">ByteBuilder</a>
      </h1>
    </div>
  
    <div class="container-user">
      <i class="fa-solid fa-user"></i>
      <i class="fa-solid fa-basket-shopping"></i>
      <div class="content-shopping-cart">
        <span class="text">Carrito</span>
        <span class="number">(0)</span>
      </div>
    </div>
  </div>
  